{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h2>Questions</h2>
        <div class="bs-component">
            {% for question in questions %}
            <div class="card border-info mb-3" style="max-width: 50rem;">
                <a class=" card-header" href="{{ question.id }}"> {{ question.title }} </a>
                <div class="card-body">
                    <p class="card-text">{{ question.content|truncatechars:120 }}</p>
                    <small class="text-muted">{{question.author}} asked {{question.pub_date |timesince}} ago</small>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-4 offset-lg-1">
        <div class="bs-component">
        </div>

    </div>
</div>
{% endblock %}